/* Exemplo simples de destaque com sombra e borda.
   Ajuste conforme seu design. */
   .selected-card {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    border: 2px solid #00d1b2; /* Cor Bulma "link" (verde-água) */
  }
  

  #form-checkout {
    display: flex;
    flex-direction: column;
    max-width: 600px;
  }

  .container {
    height: 18px;
    display: inline-block;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    padding: 1px 2px;
  }

  